html {
    padding: 0%;
    margin: 0%;
    border: 0%;
    background-color: whitesmoke;
}

body {
    padding: 0%;
    margin: 0%;
    border: 0%;
}

div {
    padding: 0%;
    margin: 0%;
    border: 0%;
}

#Cabecalho {
    padding: 0%;
    margin: 0%;
    border: 0%;
    margin-top: 0%;
    background-color: white;
    height: 10%;
    height: 630px;
    text-align: center;
    background-image: url("./assets/Images/Flag.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#geopolitica {
    padding: 0%;
    margin: 0%;
    border: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
    text-align: center;
    display: flex;
    margin-left: 25%;
}


#Buttons {
    padding: 0%;
    margin: 0%;
    border: 0%;
    margin-top: 0%;
    background-color: darkslategrey;
    height: 30px;
    text-align: right;
}

#barrer_buttons {
    height: 1px;
    background-color: black;
    color: whitesmoke;
}

#barrer_shadow_buttons {
    height: 2px;
    background-color: rgb(170, 170, 170);
    color: rgb(170, 170, 170);
}

#Mid {
    background-color: whitesmoke;
    display: flex;
    height: auto;
    width: 100%;
}

#barrer_mid {
    width: 1px;
    background-color: black;
}

#barrer_shadow {
    width: 2px;
    background-color: rgb(170, 170, 170);
    color: rgb(170, 170, 170);
}

#Rodape {
    background-color: green;
    height: 10%;
    color: white;
    text-align: center;
}

.button_sistems {
    padding: 0%;
    margin: 0%;
    border-top: 0px;
    width: 100px;
    height: 100%;
    background-color: darkslategray;
    color: white;
}

h1 {
    padding: 0%;
    margin: 0%;
    border: 0%;
    font-style: italic;
}

p {
    padding: 0%;
    margin: 0%;
    border: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

#g {
    margin-top: 5%;
    color: darkblue;
    font-size: 100px;
}

#e {
    margin-top: 5%;
    color: white;
    font-size: 100px;
}

#o {
    margin-top: 5%;
    color: darkred;
    font-size: 100px;
}

#politica {
    margin-top: 5%;
    color: darkred;
    font-size: 100px;
}

#po {
    margin-top: 5%;
    color: rgb(173, 173, 0);
    font-size: 100px;
}

#button_all:hover {
    background-color: grey;
    width: 10%;
}

#button_capitalism:hover {
    background-color: darkblue;
    width: 10%;

}

#button_socialism:hover {
    background-color: darkred;
    width: 10%;
}

#history {
    border: 10%;
    border-left-color: black;
    background-color: whitesmoke;
    width: 40%;
    text-align: center;
}

#history_head {
    border: 10%;
    border-left-color: black;
    background-color: whitesmoke;
}

#history_body {
    text-align: left;
    margin: 10px;
    margin-top: 50px;
}

#map {
    border-color: red;
    height: 700px;
    width: 1200px;
    display: flex;
}

.map {
    width: 100%;
    height: 100%;
}

img {
    height: 30px;
}

#buttons_timers {
    width: 68.8%;
    text-align: center;
    position: absolute;
}

.buttons_timers {
    border-radius: 15%;
    background-color: transparent;
    margin: 0;
    padding: 0%;
    color: black;
    height: 30px;
    width: 60px;
    border-top: 0px;
    border-block: 0px;
}

.buttons_timers:hover {
    background-color: grey;
    height: 29px;
    width: 59px;
    border-radius: 30%;
    margin-left: 10px;
    margin-right: 10px;
}

#Label_Buttons {
    height: auto;
    font-size: 20px;
}

h3 {
    margin: 0;
}

#autor {
    color: black;
    font-size: small;
}