#sidebar_button {
    height: 200px;
    background-image: url('./estrelas.jpeg');
    background-repeat: repeat-x;
    animation: anim-stars 60s infinite;
    padding: 20px;
}

@keyframes anim-stars {
    from {
        background-position: 0px;
    }
    to {
        background-position: -319px;
    }
}


section.sidebar .shiny-bound-input.action-button, section.sidebar .shiny-bound-input.action-link {
    margin: auto;
    display:block;
    background-image: url('./terra.jpeg');
}
@keyframes anim-earth {
    from {
        background-position: 0px;
    }
    to {
        background-position: -319px;
    }
}

.btn-danger {
    margin: auto;
    display:block;
    background-image: url('./terra.jpeg');
    background-position-y: -15px;
    border-color: cadetblue;
    transition: 5s;
    transform: rotate(23deg);
    border-radius: 100%;
    font-size: 40px;
    height: 150px;
    width: 190px;
    background-repeat: repeat-x;
    animation: anim-earth 25s linear infinite;
    transition: 0s;
}
.btn-danger:hover{
    color: black;
    border-color: black;
}


.skin-blue .main-sidebar, .skin-blue .wrapper {
   background-color: black;
   height: 400px;
}
.skin-red .main-header .navbar {
    background-image: url('./estrelas.jpeg');
    background-repeat: repeat-x;
    animation: anim-stars 60s infinite;
    height: auto;
    width: 200px;
}
#mapa {
    display: flex;
}
.skin-blue .main-header .navbar {
    background-color: #055e25;
}
.main-sidebar, .left-side {
    height: auto;
}
.skin-blue .main-header .logo {
    background-color: #055e25;
    color: white;
    height: auto;
}


.skin-blue:hover .main-header:hover .logo:hover {
    color: white;
    background-color: #055e25;
    animation: title 1s normal forwards;
}
.skin-blue:hover .main-header:hover .navbar:hover .sidebar-toggle:hover {
    background-color: #06742e;
}
@keyframes title {
    0%{
        border-bottom-left-radius: 0px;
        border-width: 2px;
        text-align: center;
        background-color: #055e25;
    }
    25%{
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        text-align: center;
        border-width: 2px;
    }
    50%{
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-width: 2px;
        text-align: center;
        border-bottom-color: grey;
    }
    75%{
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-width: 3px;
        text-align: center;
        border-bottom-color: pink;
    }
    100%{
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-width: 3px;
        border-bottom-color: purple;
        background-color: #009e3a;
    }
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background-color: #fff;
    padding: 0;
}
.main-header {
    position: relative;
    padding: 0;
    background-image: url('./estrelas.jpeg');
    background-repeat: repeat-x;
    animation: anim-stars 60s infinite;
}
.content-wrapper, .main-footer, .right-side {
    position: relative;
}

section.content{
    padding: 0;
    border: 0;
    margin: 0;
    background-color: whitesmoke;
}
.treeview{
    font-size: 24px;
    min-height: 40  px;
    background-color: black;
    color: wheat;
}
.treeview:hover{
    background-color: black;
    font-size: 25px;
    animation: treeview 1s forwards;
}
@keyframes treeview {
    0%{
        background-image: linear-gradient(to right, transparent, transparent, transparent, transparent);
    }
    25%{
        background-image: linear-gradient(to right, rgb(17, 17, 17), transparent, transparent, transparent);
    }
    90%{
        background-image: linear-gradient(to right, rgb(17, 17, 17), transparent);
    }
    100%{
        background-color: rgb(17, 17, 17);
    }
}

.treeview::marker{
    color: transparent;
}