#sidebar_button {
    height: 55px;
    background-color: rgb(0, 0, 0);
}
section.sidebar .shiny-bound-input.action-button, section.sidebar .shiny-bound-input.action-link {
    margin: auto;
    display:block;
    background-color: #444444;
}
section.sidebar:hover .shiny-bound-input.action-button:hover, section.sidebar .shiny-bound-input.action-link:hover {
    margin: auto;
    display:block;
    background-color: #205718;
}
.btn .btn-default .action-button .shiny-bound-input{
    background-color: white;
}
.btn-danger {
    background-color: #444444;
    border-top-color: #7a7a7a;
    border-bottom-color: #7a7a7a;
    border-left-color: #2b2b2b;
    border-right-color: #a3a3a3;
    height: 55px;
    width: 300px;
    border-radius: 0%;
    border-width: 10px;
    position: relative;
    font-size: 18px;
}
.btn-danger:hover {
    background-color: #292121;
    border-top-color: #9b4126;
    border-bottom-color: #461212;
    border-left-color: #661717;
    border-right-color: #9b4126#c75937;
    height: 55px;
    width: 300px;
    border-radius: 0%;
    border-width: 10px;
    position: relative;
    font-size: 18px;
}


.skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #000000;
}
.skin-red .main-header .navbar {
    background-color: rgb(0, 0, 0)5, 123, 0;
    height: auto;
}
#mapa {
    display: flex;
}
.skin-blue .main-header .navbar {
    background-color: #055e25;
}
.skin-blue .main-header .logo {
    background-color: #055e25;
    color: #c7c7c7;
    border-bottom: 0 solid rgba(199, 0, 0, 0);
}


.skin-blue:hover .main-header:hover .logo:hover {
    background-color: #06742e;
    color: #c7c7c7;
    border-bottom: 0 solid rgba(199, 0, 0, 0);
}
.skin-blue:hover .main-header:hover .navbar:hover .sidebar-toggle:hover {
    background-color: #06742e;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background-color: #fff;
    padding: 0;
}
.main-header {
    position: relative;
    padding: 0;
    background-color: black;
}
.content-wrapper, .main-footer, .right-side {
    position: relative;
}

section.content{
    padding: 0;
    border: 0;
    margin: 0;
    background-color: whitesmoke;
}
.treeview:hover{
    background-color: #070707;
    font-size: 25px
}
.treeview{
    font-size: 24px;
    min-height: 40  px;
    background-color: transparent;
}
.treeview::marker{
    color: transparent;
}